/* service container style */
.service__container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.service__img {
  width: 50%;
  margin: 0 auto;
}
.service__img img {
  width: 100%;
}
.service__container h1 {
  color: #289acd;
  font-weight: 700;
  font-size: 40px;
  margin: 10px 0;
}

.service__container p {
  font-size: 20px;
  line-height: 50px;
}
