.doctors {
  text-align: center;
  margin: 40px 0;
}
.doctors > span {
  font-weight: 600;
  font-size: 20px;
  color: #20bdd1;
}
.doctors h1 {
  color: #02123a;
  font-weight: 700;
  margin: 15px 0;
  font-size: 40px;
}
.doctors__container {
  width: 80%;
  margin: 0 auto;
}
.doctor {
  margin: 0 auto;
  box-shadow: 0 0 20px 0 #e5fafd;
  transition: 0.5s;
  margin-bottom: 50px;
}
.doctor h2 {
  font-size: 25px;
  font-weight: 700;
  color: #20bdd1;
}
.doctor span {
  font-size: 20px;
  font-weight: 300;
}
