.banner {
  background-image: url("https://i.ibb.co/ggypFQz/Young-handsome-physician-in-a-medical-robe-with-stethoscope.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  margin-top: 10px;
}
.banner__title {
  position: absolute;
  top: 30%;
  left: 15%;
}
.banner__title p {
  font-weight: 600;
  font-size: 20px;
  color: #289cac;
}
.banner__title h1 {
  font-size: 56px;
  font-weight: 700;
  color: #02123a;
  margin-bottom: 10px;
}

@media (max-width: 480px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__title {
    position: static;
    margin-left: 10px;
  }
  .banner__title h1 {
    font-size: 40px;
  }
}
